body{
    justify-content: center;
    display: flex;
    margin-top:10%;
    margin-left: 30%;
    width: 500px;
    padding: 50px;
    margin-bottom:40%;
}
body::before{
    content: "";
    display: block;
    position: absolute;
    top: 20%;
    left: 27%;
    bottom: 29%;
    right: 25%;
    background-color:mediumvioletred;
    z-index: -1;
}
table{
    border: 1px solid purple;
    width:100%;
    background-color: darkviolet;
}
td{
    margin-left: 10%;
}
label{
    text-align: center;
}
td[colspan="2"]{
    text-align: center;
}
